
<div th:fragment="Nav">
  <div class="container">
    <div class="row">
      <h1>ADMIN PAGE</h1>
      <div class="col d-flex justify-content-center align-items-center p-2">
        <a class="nav-link mx-2" th:href="@{/admin/home}">Home</a>
        <a class="nav-link mx-2" th:href="@{/admin/user}">User</a>
        <a class="nav-link mx-2" th:href="@{/admin/product}">Product</a>
        <a class="nav-link mx-2" th:href="@{/admin/invoice}">Invoice</a>
        <a class="nav-link mx-2" th:href="@{/admin/invoiceDetail}">Invoice Detail</a>
        <a class="nav-link mx-2" th:href="@{/admin/cart}">Cart</a>
        <a class="nav-link mx-2" th:href="@{/admin/cartItem}">CartItem</a>
        <a class="nav-link mx-2" th:href="@{/admin/category}">Category</a>
      </div>
    </div>
  </div>
</div>
